APP_NAME=E-Sante ISM SPUM Backend
APP_ENV=dev
API_PREFIX=/api
DB_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/e_sante_ism_spum
JWT_SECRET=change-me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_MINUTES=1440
ADMIN_SEED_EMAIL=admin-system@local.dev
ADMIN_SEED_PIN=1234
DEV_SUPERUSER_EMAIL=dev-superuser@local.dev
DEV_SUPERUSER_PIN=0000
